body {
  font-family: sans-serif;
}

th, td {
  padding: 0.3rem;
}

input[type=number] {
  font-size: 1rem;
}

th {
  text-align: right;
}

tr.header th {
  text-align: center;
}

td.dollarAmount {
  text-align: center;
  background-color: #9CF;
}
