// Workaround for https://github.com/18F/web-design-standards/issues/1754
@media screen and (min-width: 951px)
{
  .usa-nav {
    height: auto;
  }
}

$primary-alt-lightest: #e1f3f8;
$gray-lightest: #f1f1f1;

header .usa-banner {
  background-color: #cd2026;
  * {
    color: white;
  }
}

.usa-logo-text img {
  max-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro';
}

body {
  background: white;

  #content {
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
  }

  .pull {
    &.left {
      float: left;
    }

    &.right {
      float: right;
    }
  }

  .strong {
    font-weight: 600;
  }

  main {
    @import "components/header";
    @import "components/collapsible";
    @import "components/map";
    @import "components/login";
    @import "components/search";
    @import "components/iapd";
    @import "components/cms_dashboard";
    @import "components/cms_all_states";
    @import "components/review";
  }
}
