{
  "swagger": "2.0",
  "info": {
    "title": "MMIS Financial Requests Prototype API",
    "description": "Prototype API for managing financial request data for MMIS APDs",
    "version": "1.0.0"
  },
  "host": "mmis-financial-requests-api.app.cloud.gov",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/login": {
      "get": {
        "summary": "Get user for an existing token",
        "description": "If the Authorization header is set and it's a valid JWT token\nsigned by the API, this endpoint will decode it and return the\nuser object that it represents.\n",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT token representing a user",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "authentication"
        ],
        "responses": {
          "200": {
            "description": "The user represented by the token",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "401": {
            "description": "If the authorization header is missing, is not a valid JWT\ntoken, was not signed by the API, or is expired, the API\nwill return a 401 status code.\n",
            "schema": {
              "type": "string",
              "description": "A message indicating that the user is not logged in"
            }
          }
        }
      },
      "post": {
        "summary": "[DUMMY] Log in with username and password",
        "description": "Send a username and password, get back a user object",
        "parameters": [
          {
            "name": "username",
            "in": "formData",
            "description": "Login username. Currently can be any value.",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "description": "Login password. Currently can be any value.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "authentication"
        ],
        "responses": {
          "200": {
            "description": "Currently always responds in the affirmative with a dummy user object",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        }
      }
    },
    "/requests": {
      "get": {
        "summary": "Get a list of all pending financial requests",
        "description": "Returns a list of all pending financial requests.  Requests that have been approved are not included.",
        "tags": [ "requests" ],
        "responses": {
          "200": {
            "description": "The list of pending financial requests",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FinancialRequest"
              }
            }
          }
        }
      }
    },
    "/requests/{financial-request-ID}": {
      "get": {
        "summary": "Gets a financial request, if it exists",
        "description": "Given a request ID, this method will return the associated request if it exists.  Otherwise returns 404.",
        "parameters": [
          {
            "name": "financial-request-ID",
            "in": "path",
            "description": "The financial request ID to retrieve"
          }
        ],
        "tags": [ "requests" ],
        "responses": {
          "200": {
            "description": "Response if the request exists",
            "schema": {
              "$ref": "#/definitions/FinancialRequest"
            }
          },
          "404": {
            "description": "Response if the request does not exist"
          }
        }
      }
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "realName": {
          "type": "string",
          "description": "The user's real name as an arbitrary string."
        },
        "role": {
          "type": "string",
          "enum": [
            "participant",
            "provider",
            "state"
          ],
          "description": "The user's role in the system"
        },
        "eligibility": {
          "$ref": "#/definitions/Eligibility"
        },
        "token": {
          "type": "string",
          "description": "JWT token representing the user"
        }
      },
      "required": [ "realName", "description", "eligibility", "token" ]
    },
    "FinancialRequest": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID of the financial request"
        },
        "name": {
          "type": "string",
          "description": "A friendly name for the financial request"
        },
        "submitters": {
          "type": "array",
          "description": "The submitters on the financial request",
          "items": {
            "$ref": "#/definitions/people"
          }
        },
        "prose": {
          "type": "object",
          "description": "The chunks of prose that support the financial request",
          "properties": {
            "executiveSummary": {
              "type": "string",
              "description": "Executive summary"
            },
            "statementOfOutcomes": {
              "type": "string",
              "description": "Statement of outcomes"
            }
          }
        },
        "mdbt": {
          "$ref": "#/definitions/mdbt"
        }
      },
      "required": [ "id", "submitters", "prose", "mdbt" ]
    },
    "people": {
      "type": "object",
      "description": "The people covered by this DCN",
      "properties": {
        "name": {
          "type": "string",
          "description": "The submitter's name"
        },
        "email": {
          "type": "string",
          "description": "The submitter's email address"
        },
        "phone": {
          "type": "string",
          "description": "The submitter's phone number"
        }
      },
      "required": [ "name" ]
    },
    "date": {
      "type": "number",
      "description": "A data expressed in Javascript epoch time, as the milliseconds since midnight, January 1, 1970, UTC"
    },
    "mdbt": {
      "type": "object",
      "description": "Medicaid detailed budget table data",
      "properties": {
        "development": {
          "type": "object",
          "properties": {
            "internal": {
              "type": "number"
            },
            "external": {
              "type": "number"
            }
          }
        },
        "operations": {
          "type": "object",
          "properties": {
            "internal": {
              "type": "number"
            },
            "external": {
              "type": "number"
            }
          }
        },
        "other": {
          "type": "object",
          "properties": {
            "internal": {
              "type": "number"
            },
            "external": {
              "type": "number"
            },
            "interagency": {
              "type": "number"
            }
          }
        }
      }
    }
  }
}
