{
  "swagger": "2.0",
  "info": {
    "title": "MMIS Financial Requests Prototype API",
    "description": "Prototype API for managing financial request data for MMIS APDs",
    "version": "1.0.0"
  },
  "host": "mmis-financial-requests-api.app.cloud.gov",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/login": {
      "get": {
        "summary": "Get user for an existing token",
        "description": "If the Authorization header is set and it's a valid JWT token\nsigned by the API, this endpoint will decode it and return the\nuser object that it represents.\n",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "JWT token representing a user",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "authentication"
        ],
        "responses": {
          "200": {
            "description": "The user represented by the token",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "401": {
            "description": "If the authorization header is missing, is not a valid JWT\ntoken, was not signed by the API, or is expired, the API\nwill return a 401 status code.\n",
            "schema": {
              "type": "string",
              "description": "A message indicating that the user is not logged in"
            }
          }
        }
      },
      "post": {
        "summary": "[DUMMY] Log in with username and password",
        "description": "Send a username and password, get back a user object",
        "parameters": [
          {
            "name": "username",
            "in": "formData",
            "description": "Login username. Currently can be any value.",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "description": "Login password. Currently can be any value.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "authentication"
        ],
        "responses": {
          "200": {
            "description": "Currently always responds in the affirmative with a dummy user object",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        }
      }
    },
    "/review/requests": {
      "get": {
        "summary": "Get a list of all pending financial requests",
        "description": "Returns a list of all pending financial requests.  Requests that have been approved are not included.",
        "tags": [ "requests" ],
        "responses": {
          "200": {
            "description": "The list of pending financial requests",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [ "id", "name" ]
              }
            }
          }
        }
      }
    },
    "/review/requests/{financial-request-ID}": {
      "get": {
        "summary": "Gets a financial request, if it exists",
        "description": "Given a request ID, this method will return the associated request if it exists.  Otherwise returns 404.",
        "parameters": [
          {
            "name": "financial-request-ID",
            "in": "path",
            "description": "The financial request ID to retrieve"
          }
        ],
        "tags": [ "requests" ],
        "responses": {
          "200": {
            "description": "Response if the request exists",
            "schema": {
              "$ref": "#/definitions/FinancialRequest"
            }
          },
          "404": {
            "description": "Response if the request does not exist"
          }
        }
      }
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "realName": {
          "type": "string",
          "description": "The user's real name as an arbitrary string."
        },
        "token": {
          "type": "string",
          "description": "JWT token representing the user"
        }
      },
      "required": [ "realName", "token" ]
    },
    "FinancialRequest": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID of the financial request"
        },
        "name": {
          "type": "string",
          "description": "A friendly name for the financial request"
        },
        "state": {
          "type": "string",
          "description": "The name of the state, territory, or jurisdiction submitting the request"
        },
        "submitters": {
          "type": "array",
          "description": "The submitters on the financial request",
          "items": {
            "$ref": "#/definitions/person"
          }
        },
        "prose": {
          "type": "object",
          "description": "The chunks of prose that support the financial request",
          "properties": {
            "executiveSummary": {
              "type": "string",
              "description": "Executive summary"
            },
            "statementOfOutcomes": {
              "type": "string",
              "description": "Statement of outcomes"
            },
            "proposedBudget": {
              "type": "string",
              "description": "Proposed budget"
            },
            "papdSummary": {
              "type": "string",
              "description": "PAPD summary"
            },
            "personnel": {
              "type": "string",
              "description": "Personnel"
            },
            "acquisitionsPlan": {
              "type": "string",
              "description": "Acquisitions plan"
            },
            "costAllocationEstimate": {
              "type": "string",
              "description": "Cost allocation estimate"
            },
            "costBenefitAnalysis": {
              "type": "string",
              "description": "Cost/benefit analysis"
            },
            "proposedActivity": {
              "type": "string",
              "description": "Proposed activity"
            },
            "continuityOfOperations": {
              "type": "string",
              "description": "Security, interface, disaster recover, and business continuity"
            },
            "otherAssurances": {
              "type": "string",
              "description": "Other assurances"
            }
          }
        },
        "outcomes": {
          "type": "array",
          "description": "Expected project outcomes",
          "items": {
            "$ref": "#/definitions/outcome"
          }
        },
        "costs": {
          "type": "array",
          "description": "Detailed budget estimate costs",
          "items": {
            "$ref": "#/definitions/cost"
          }
        },
        "mdbt": {
          "$ref": "#/definitions/mdbt"
        }
      },
      "required": [ "id", "submitters", "prose", "mdbt" ]
    },
    "person": {
      "type": "object",
      "description": "A single person",
      "properties": {
        "name": {
          "type": "string",
          "description": "The persons's name"
        },
        "email": {
          "type": "string",
          "description": "The person's email address"
        },
        "phone": {
          "type": "string",
          "description": "The person's phone number"
        }
      },
      "required": [ "name" ]
    },
    "outcome": {
      "type": "object",
      "description": "A project outcome",
      "properties": {
        "priority": {
          "type": "number",
          "description": "The outcome priority"
        },
        "outcome": {
          "type": "string",
          "description": "A short description of the outcome"
        },
        "example": {
          "type": "string",
          "description": "A brief example of what could happen if the outcome is achieved"
        },
        "measures": {
          "type": "string",
          "description": "Some example measures of success for the outcome"
        }
      },
      "required": [ "priority", "outcome", "example", "measures" ]
    },
    "cost": {
      "type": "object",
      "description": "A budget cost item",
      "properties": {
        "category": {
          "type": "string",
          "description": "The cost category/name"
        },
        "ffp": {
          "type": "number",
          "description": "Federal financial participation rate; e.g., 0.9 (90%), 0.75 (75%), etc."
        },
        "type": {
          "type": "string",
          "description": "Cost allocation type (e.g., ddi, om, other)"
        },
        "years": {
          "type": "array",
          "description": "List of federal fiscal years this cost occurs in",
          "items": {
            "type": "object",
            "properties": {
              "ffy": {
                "type": "number",
                "description": "A federal fiscal year"
              },
              "total": {
                "type": "number",
                "description": "Total cost of this budget item for the corresponding FFY"
              }
            }
          }
        }
      },
      "required": [ "category", "ffp", "type", "years" ]
    },
    "date": {
      "type": "number",
      "description": "A data expressed in Javascript epoch time, as the milliseconds since midnight, January 1, 1970, UTC"
    },
    "mdbt": {
      "type": "object",
      "description": "Medicaid detailed budget table data",
      "properties": {
        "development": {
          "type": "object",
          "properties": {
            "internal": {
              "type": "number"
            },
            "external": {
              "type": "number"
            }
          }
        },
        "operations": {
          "type": "object",
          "properties": {
            "internal": {
              "type": "number"
            },
            "external": {
              "type": "number"
            }
          }
        },
        "other": {
          "type": "object",
          "properties": {
            "internal": {
              "type": "number"
            },
            "external": {
              "type": "number"
            },
            "interagency": {
              "type": "number"
            }
          }
        }
      }
    }
  }
}
