header {
  background: rgb(24, 67, 104);
  color: white;
  padding: 2em 1em;
  width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2));

  h3 {
    clear: none;
    margin: 0;
    font-family: 'Source Sans Pro';
    font-size: 1.5em;
    font-weight: normal;
    display: inline-block;
    border-bottom: 1px solid rgba(185, 184, 182, 0.3);

    small {
      padding-left: 1.5rem;
      font-size: 0.65em;
      font-weight: normal;
    }
  }

  small {
    font-weight: 200;
  }

  &.cms {
    background-color: black;
    h3 {
      border-bottom-color: rgb(45, 77, 105);
    }
  }

  &.back {
    background-color: white;
    color: rgb(162, 162, 162);
    font-weight: 200;
    font-size: 0.8em;
    padding: 0.5em 2em;
  }
}
