body > div {
	max-width: 960px;
	margin: auto;
}

p {
	margin-bottom: 1em;
}

.header {
	overflow: hidden;
	margin-top: 2em;
}

.header .desc {
	float: left;
	max-width: 400px;
}

.header .submitters {
	float: right;
	max-width: 400px;
}

.header .submitters > div {
	margin-bottom: 1em;
}

.section {
	position: relative;
	margin: 2em auto;
	border-top: 1px solid rgb(220,220,220);
	padding-top: 20px;
}

.section h2, .section h3 { 
	margin-left: 50px;
}

.section h4, .section p, .section table {
	margin-left: 100px;
}

.section h4 {
	margin-top: 1em;
}

.section .button {
	position: absolute;
	left: 0;
	top: 20px;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background: rgb(220,220,220);

	font-size: 20px;
	text-align: center;
	line-height: 40px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	width: 800px;
	margin-bottom: 2em;
}

th, td {
	height: 1.5em;
}